#gavinPlay {
  background: url("https://xsswzx.cdu.edu.cn/isp/images/protect.png") center no-repeat;
  background-size: cover;
  width: 100px;
  height: 120px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-animation: play 4s linear infinite;
  -moz-animation: play 4s linear infinite;
  animation: play 4s linear infinite;
  filter: drop-shadow(0px 4px 4px #bababa);
  margin-top: 10px;
}

@-webkit-keyframes play {
  0% {
    -webkit-transform: rotateY(0deg);
    -webkit-transform: rotateX(0deg);
    -webkit-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);

  }

  100% {
    -webkit-transform: rotateY(360deg);
    -webkit-transform: rotateX(360deg);
    -webkit-transform: rotate(360deg);
    -webkit-transform: rotate(-360deg);
  }
}

@-moz-keyframes play {
  0% {
    -moz-transform: rotateY(0deg);
    /*
      -moz-transform:rotateX(0deg);
      -moz-transform:rotate(0deg);
      -moz-transform:rotate(0deg);
      */
  }

  100% {
    -moz-transform: rotateY(360deg);
    /*
      -moz-transform:rotateX(360deg);
      -moz-transform:rotate(360deg);
      -moz-transform:rotate(-360deg);
      */
  }
}

@keyframes play {
  0% {
    transform: rotateY(0deg);
    /*
      transform:rotateX(0deg);
      transform:rotate(0deg);
      transform:rotate(0deg);
      */
  }

  100% {
    transform: rotateY(360deg);
    /*
      transform:rotateX(360deg);
      transform:rotate(360deg);
      transform:rotate(-360deg);
      */
  }
}